$hex-digits: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9" "a" "b" "c" "d" "e" "f";
$num-hex-digits: length($hex-digits);
@function rand-hex-digit() {
  @return nth($hex-digits, random($num-hex-digits));
}
@function rand-hex-color() {
  @return "##{rand-hex-digit()}#{rand-hex-digit()}#{rand-hex-digit()}#{rand-hex-digit()}#{rand-hex-digit()}#{rand-hex-digit()}";
}

@function generate-snapshot($colors) {
  $samples: ();

  @each $hex in $colors {
    $rgb: conv-hex-rgb($hex);
    $xyz: conv-rgb-xyz($rgb);
    $luv: conv-xyz-luv($xyz);
    $lch: conv-luv-lch($luv);

    $samples: map-merge($samples, (
      $hex: (
        rgb: $rgb,
        xyz: $xyz,
        luv: $luv,
        lch: $lch,
        husl: conv-lch-husl($lch),
        huslp: conv-lch-huslp($lch)
      )
    ));
  }

  @return $samples;
}
