@use '../node_modules/sass-true' as *;

@import "../src/hsluv";

@include describe("hsluv function") {
  @include it('should return SASS color') {
    @include assert-equal(type-of(hsluv(0deg, 0, 0)), color);
  }

  @include it('should accept hue as both deg and unitless value') {
    @include assert-equal(hsluv(212deg, 88, 54), #2f8d9d);
    @include assert-equal(hsluv(212, 88, 54), #2f8d9d);
  }

  @include it('should accept saturation and lightness as both percent and unitless value') {
    @include assert-equal(hsluv(212deg, 88%, 54%), #2f8d9d);
    @include assert-equal(hsluv(212, 88, 54), #2f8d9d);
  }

  @include it('should accept hsluv struct') {
    @include assert-equal(hsluv(('h': 212, 's': 88, 'l': 54)), #2f8d9d);
  }
}

@include describe("hpluv function") {
  @include it('should return SASS color') {
    @include assert-equal(type-of(hpluv(0deg, 0, 0)), color);
  }

  @include it('should accept hue as both deg and unitless value') {
    @include assert-equal(hpluv(212deg, 88, 54), #3d8c9b);
    @include assert-equal(hpluv(212, 88, 54), #3d8c9b);
  }

  @include it('should accept saturation and lightness as both percent and unitless value') {
    @include assert-equal(hpluv(212deg, 88%, 54%), #3d8c9b);
    @include assert-equal(hpluv(212, 88, 54), #3d8c9b);
  }

  @include it('should accept hsluv struct') {
    @include assert-equal(hpluv(('h': 212, 's': 88, 'l': 54)), #3d8c9b);
  }
}

@include describe("hsluv-from function") {
  @include it('should accept SASS colors') {
    @include assert-equal(hsluv-from(#2f8d9d), ('h': 211.3208152877deg, 's': 87.9654706107, 'l': 54.1196457288), $inspect: true);
    @include assert-equal(hsluv-from(rgb(153, 187, 0)), ('h': 101.26222245755217deg, 's': 100.0000000000023, 'l': 71.08593613187027), $inspect: true);
    @include assert-equal(hsluv-from(rebeccapurple), ('h': 280.8444976171deg, 's': 70.7618769363, 'l': 32.9028065943), $inspect: true);
  }
}

@include describe("hpluv-from function") {
  @include it('should accept SASS colors') {
    @include assert-equal(hpluv-from(#2f8d9d), ('h': 211.3208152877deg, 's': 96.4519487106, 'l': 54.1196457288), $inspect: true);
    @include assert-equal(hpluv-from(rgb(153, 187, 0)), ('h': 101.26222245755217deg, 's': 147.074503152999483, 'l': 71.08593613187027), $inspect: true);
    @include assert-equal(hpluv-from(rebeccapurple), ('h': 280.8444976171deg, 's': 266.0749750639, 'l': 32.9028065943), $inspect: true);
  }
}
