@import "_utils";
@import "../src/husl";

// These tests aren't exhaustive, because sass can't handle that many tests.
// Increase $samples to be more sure of the results

@include describe("HUSL consistency") {
  $samples: 20;

  @include it("should convert between HUSL and hex") {
    @for $_ from 0 through $samples {
      $hex: rand-hex-color();
      @include should(expect(husl-to-hex(husl-from-hex($hex))), to(be($hex)));
    }
  }

  @include it("should convert between HUSLp and hex") {
    @for $_ from 0 through $samples {
      $hex: rand-hex-color();
      @include should(expect(huslp-to-hex(huslp-from-hex($hex))), to(be($hex)));
    }
  }
}

@include describe("Fits within RGB ranges") {
  $rgb-range-tolerance: 0.00000000001;
  $snapshot-tolerance: 0.00000000001;
  $samples: 20;

  @include it("should fit") {
    @for $_ from 0 through $samples {
      $h: random(361) - 1;
      $s: random(101) - 1;
      $l: random(101) - 1;
      $rgb: husl-to-rgb(($h, $s, $l));

      @each $channel in $rgb {
        @include should(expect($channel), to(be-greater-than(-$rgb-range-tolerance)));
        @include should(expect($channel), to(be-less-than(255 + $rgb-range-tolerance)));
        $hsl: ($h, $s, $l);
        // husl: #{$hsl} -> #{$rgb}
      }

      $rgb: huslp-to-rgb(($h, $s, $l));
      @each $channel in $rgb {
        @include should(expect($channel), to(be-greater-than(-$rgb-range-tolerance)));
        @include should(expect($channel), to(be-less-than(255 + $rgb-range-tolerance)));
        $hsl: ($h, $s, $l);
        // huslp: #{$hsl} -> #{$rgb}
      }
    }
  }
}
