@import "../node_modules/bootcamp/src/bootcamp";
@import "../src/husl";

@include describe("HUSL consistency") {
  $samples: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9" "a" "b" "c" "d" "e" "f";

  @include it("should convert between HUSL and hex") {
    @each $r in $samples {
      @each $g in $samples {
        @each $b in $samples {
          $hex: "#" + $r + $r + $g + $g + $b + $b;
          @debug $hex husl-from-hex($hex);
          @include should(expect(husl-to-hex(husl-from-hex($hex))), to(be($hex)));
        }
      }
    }
  }

  @include it("should convert between HUSLp and hex") {
    @each $r in $samples {
      @each $g in $samples {
        @each $b in $samples {
          $hex: "#" + $r + $r + $g + $g + $b + $b;
          @debug $hex;
          @include should(expect(huslp-to-hex(huslp-from-hex($hex))), to(be($hex)));
        }
      }
    }
  }
}
