@import "../src/husl";
@import "_utils";
@import "data/snapshot";

@include describe("HUSL snapshot") {
  @include it("should match the stable snapshot") {
    $snapshot-tolerance: 3; // 0.001;
    $current-snapshot: generate-snapshot($sample-colors);

    @each $hex, $stable-samples in $stable-snapshot {
      $current-samples: map-get($current-snapshot, $hex);
      @each $tag, $stable-tuple in $stable-samples {
        $current-tuple: map-get($current-samples, $tag);
        @for $i from 1 through 3 {
          @if $tag != rgb {
            @include should(expect(nth($current-tuple, $i)), to(be-close-to(nth($stable-tuple, $i), $snapshot-tolerance))) {
/*
The snapshots for #{hex} don't match at #{tag}
Stable:  #{$stable-tuple}
Current: #{$current-tuple}
*/
            }
          } @else {
            @include should(expect(nth($current-tuple, $i)), to(be-close-to(nth($stable-tuple, $i) * 255, $snapshot-tolerance))) {
/*
The snapshots for #{hex} don't match at #{tag}
Stable:  #{$stable-tuple}
Current: #{$current-tuple}
*/
            }
          }
        }
      }
    }
  }
}
