@use "sass:meta";

@mixin describe($name) {
  @if not _test_start_group($name) {
  }
  @content;
}

@mixin it($name) {
  @if not _test_start_test($name) {
  }
  @content;
}

@mixin assert-equal($assert, $expected, $inspect: false, $approx: false) {
  $assert-output: $assert;
  $expected-output: $expected;
  $passed: false;

  @if $approx {
    $passed: _test_assert_approx($assert, $expected);
    $assert-output: meta.inspect($assert);
    $expected-output: meta.inspect($expected);
  } @else {
    @if $inspect {
      $assert: meta.inspect($assert);
      $expected: meta.inspect($expected);
    }

    $assert-output: $assert;
    $expected-output: $expected;
    $passed: $assert == $expected;
  }

  @if not _test_assert_result($assert-output, $expected-output, $passed) {
  }
}
