@import "../src/hsluv";

/* http://codepen.io/apexskier/pen/LZbybw */

.container {
  display: flex;
}

[class^="rand-hsluv-"],
[class*=" rand-hsluv-"],
[class^="rand-hpluv-"],
[class*=" rand-hpluv-"] {
  height: 100px;
  width: 100px;
  margin: 10px;

  &::before {
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 4px;
    display: block;
    box-sizing: border-box;
  }
}

@for $i from 1 through 10 {
  $r: random(360);

  .rand-hsluv-#{$i} {
    background-color: hsluv($r, 50%, 50%);

    &::before {
      content: "hsluv(#{$r}, 80%, 50%)";
    }
  }

  .rand-hpluv-#{$i} {
    background-color: hpluv($r, 50%, 50%);

    &::before {
      content: "hsluv(#{$r}, 80%, 50%)";
    }
  }
}
