@import "../hsluv-conversions";

@function generate-snapshot($colors) {
  $samples: ();

  @each $hex in $colors {
    $rgb: conv-hex-rgb($hex);
    $xyz: conv-rgb-xyz($rgb);
    $luv: conv-xyz-luv($xyz);
    $lch: conv-luv-lch($luv);

    $samples: map-merge($samples, (
      $hex: (
        rgb: $rgb,
        xyz: $xyz,
        luv: $luv,
        lch: $lch,
        hsluv: conv-lch-hsluv($lch),
        hpluv: conv-lch-hpluv($lch)
      )
    ));
  }

  @return $samples;
}
