$sample-colors: #1100ff #0066aa #cc33cc #0022dd #0066ee #bbbb11 #5566dd #55eeaa #ee7700 #33bbaa #44aa77 #dd6699 #99ee22 #ff22aa #99aa11 #dd1122;
$stable-snapshot: (
  #1100ff: (
    rgb: (
      0.06666666666666667,
      0,
      1
    ),
    xyz: (
      0.18279240033393795,
      0.07338424026322467,
      0.9506405090589779
    ),
    luv: (
      32.56524567526498,
      -8.901257250836478,
      -130.65142427581443
    ),
    lch: (
      32.56524567526498,
      130.95429372855415,
      266.1024720937492
    ),
    husl: (
      266.1024720937492,
      99.99999999999996,
      32.56524567526498
    ),
    huslp: (
      266.1024720937492,
      510.275492181063,
      32.56524567526498
    )
  ),
  #0066aa: (
    rgb: (
      0,
      0.4,
      0.6666666666666666
    ),
    xyz: (
      0.12006089761200033,
      0.12404296862538682,
      0.3979300145497261
    ),
    luv: (
      41.851599770746674,
      -25.325485343457196,
      -63.46381697687839
    ),
    lch: (
      41.851599770746674,
      68.33034664888203,
      248.24533508851877
    ),
    husl: (
      248.24533508851877,
      100,
      41.851599770746674
    ),
    huslp: (
      248.24533508851877,
      207.17668847311052,
      41.851599770746674
    )
  ),
  #cc33cc: (
    rgb: (
      0.8,
      0.2,
      0.8
    ),
    xyz: (
      0.36982981914909047,
      0.19566443089173063,
      0.5895756921738492
    ),
    luv: (
      51.34343796950883,
      62.572355128059925,
      -80.91533962851919
    ),
    lch: (
      51.34343796950883,
      102.28681153242903,
      307.71501294924303
    ),
    husl: (
      307.71501294924303,
      87.46048686475064,
      51.34343796950883
    ),
    huslp: (
      307.71501294924303,
      252.79822589811047,
      51.34343796950883
    )
  ),
  #0022dd: (
    rgb: (
      0,
      0.13333333333333333,
      0.8666666666666667
    ),
    xyz: (
      0.13621758372152343,
      0.06363907188172371,
      0.6891938225545875
    ),
    luv: (
      30.312611221900553,
      -9.97554123069644,
      -113.08721059901308
    ),
    lch: (
      30.312611221900553,
      113.5263344951772,
      264.9589274681273
    ),
    husl: (
      264.9589274681273,
      99.9999999999999,
      30.312611221900553
    ),
    huslp: (
      264.9589274681273,
      475.2395683831188,
      30.312611221900553
    )
  ),
  #0066ee: (
    rgb: (
      0,
      0.4,
      0.9333333333333333
    ),
    xyz: (
      0.20182137097986894,
      0.15674715797253425,
      0.8285351742871675
    ),
    luv: (
      46.54480089307922,
      -22.757693650570967,
      -113.96030558560807
    ),
    lch: (
      46.54480089307922,
      116.21042926286096,
      258.7066828334377
    ),
    husl: (
      258.7066828334377,
      100.00000000000017,
      46.54480089307922
    ),
    huslp: (
      258.7066828334377,
      316.8204854472729,
      46.54480089307922
    )
  ),
  #bbbb11: (
    rgb: (
      0.7333333333333333,
      0.7333333333333333,
      0.06666666666666667
    ),
    xyz: (
      0.38363771727130985,
      0.46146291776813697,
      0.07416604552503783
    ),
    luv: (
      73.64035995676602,
      5.756963645158645,
      79.81216516965158
    ),
    lch: (
      73.64035995676602,
      80.0195247391499,
      85.87432021817733
    ),
    husl: (
      85.87432021817733,
      98.56905953349117,
      73.64035995676602
    ),
    huslp: (
      85.87432021817733,
      137.8857518296314,
      73.64035995676602
    )
  ),
  #5566dd: (
    rgb: (
      0.3333333333333333,
      0.4,
      0.8666666666666667
    ),
    xyz: (
      0.21547147659530658,
      0.1665387770237708,
      0.7048804028693448
    ),
    luv: (
      47.820927718280124,
      -12.010072956509132,
      -98.15159782672285
    ),
    lch: (
      47.820927718280124,
      98.88365895515506,
      263.0238254758967
    ),
    husl: (
      263.0238254758967,
      77.97386153157406,
      47.820927718280124
    ),
    huslp: (
      263.0238254758967,
      262.3891408401175,
      47.820927718280124
    )
  ),
  #55eeaa: (
    rgb: (
      0.3333333333333333,
      0.9333333333333333,
      0.6666666666666666
    ),
    xyz: (
      0.4157435194599496,
      0.6598001317157662,
      0.48575950452253885
    ),
    luv: (
      84.98622124861842,
      -62.46776375761324,
      39.99345803278399
    ),
    lch: (
      84.98622124861842,
      74.17343321093499,
      147.37159021860225
    ),
    husl: (
      147.37159021860225,
      85.1677250765273,
      84.98622124861842
    ),
    huslp: (
      147.37159021860225,
      213.70969491130154,
      84.98622124861842
    )
  ),
  #ee7700: (
    rgb: (
      0.9333333333333333,
      0.4666666666666667,
      0
    ),
    xyz: (
      0.4185564540721248,
      0.31373551630159635,
      0.03851616345791553
    ),
    luv: (
      62.821715804873804,
      99.36601505669658,
      57.596158052505
    ),
    lch: (
      62.821715804873804,
      114.85174082553903,
      30.098141469220952
    ),
    husl: (
      30.098141469220952,
      100.00000000000009,
      62.821715804873804
    ),
    huslp: (
      30.098141469220952,
      231.9888515591684,
      62.821715804873804
    )
  ),
  #33bbaa: (
    rgb: (
      0.2,
      0.7333333333333333,
      0.6666666666666666
    ),
    xyz: (
      0.2638968245267072,
      0.39144998481668136,
      0.4419645653806054
    ),
    luv: (
      68.85616807993289,
      -50.44916013986259,
      3.438383971356355
    ),
    lch: (
      68.85616807993289,
      50.566196645110466,
      176.10101145694287
    ),
    husl: (
      176.10101145694287,
      91.47367563462245,
      68.85616807993289
    ),
    huslp: (
      176.10101145694287,
      93.18730793217595,
      68.85616807993289
    )
  ),
  #44aa77: (
    rgb: (
      0.26666666666666666,
      0.6666666666666666,
      0.4666666666666667
    ),
    xyz: (
      0.20087357885456414,
      0.31309128388553625,
      0.22438049279998
    ),
    luv: (
      62.76772733498903,
      -43.72516336771941,
      30.629998072252008
    ),
    lch: (
      62.76772733498903,
      53.38620321243976,
      144.98829945967375
    ),
    husl: (
      144.98829945967375,
      80.05733071477579,
      62.76772733498903
    ),
    huslp: (
      144.98829945967375,
      107.9274603020184,
      62.76772733498903
    )
  ),
  #dd6699: (
    rgb: (
      0.8666666666666667,
      0.4,
      0.6
    ),
    xyz: (
      0.40318448717622973,
      0.27176961524355,
      0.33260341255129705
    ),
    luv: (
      59.1377678367748,
      74.26326049841991,
      -16.746187531307243
    ),
    lch: (
      59.1377678367748,
      76.1279623836727,
      347.29248242937786
    ),
    husl: (
      347.29248242937786,
      63.73900099601867,
      59.1377678367748
    ),
    huslp: (
      347.29248242937786,
      163.34979895083092,
      59.1377678367748
    )
  ),
  #99ee22: (
    rgb: (
      0.6,
      0.9333333333333333,
      0.13333333333333333
    ),
    xyz: (
      0.43998475102692014,
      0.6803542135877438,
      0.12327341683250786
    ),
    luv: (
      86.0241571186353,
      -42.55760133175954,
      97.9301433166785
    ),
    lch: (
      86.0241571186353,
      106.77763062148443,
      113.48836865336118
    ),
    husl: (
      113.48836865336118,
      97.20919169080622,
      86.0241571186353
    ),
    huslp: (
      113.48836865336118,
      333.419677856632,
      86.0241571186353
    )
  ),
  #ff22aa: (
    rgb: (
      1,
      0.13333333333333333,
      0.6666666666666666
    ),
    xyz: (
      0.49066008988578963,
      0.25309876051255675,
      0.40333029760126127
    ),
    luv: (
      57.376106263820645,
      118.74547360484212,
      -40.23501647159591
    ),
    lch: (
      57.376106263820645,
      125.37680827054041,
      341.2818668193844
    ),
    husl: (
      341.2818668193844,
      100.00000000000007,
      57.376106263820645
    ),
    huslp: (
      341.2818668193844,
      277.2844173498754,
      57.376106263820645
    )
  ),
  #99aa11: (
    rgb: (
      0.6,
      0.6666666666666666,
      0.06666666666666667
    ),
    xyz: (
      0.2761183847825337,
      0.35562205412053427,
      0.05939952793455887
    ),
    luv: (
      66.1840522628292,
      -6.048634232566081,
      72.7802112955104
    ),
    lch: (
      66.1840522628292,
      73.03112440801188,
      94.75083268923757
    ),
    husl: (
      94.75083268923757,
      98.13907596859318,
      66.1840522628292
    ),
    huslp: (
      94.75083268923757,
      140.0212529319382,
      66.1840522628292
    )
  ),
  #dd1122: (
    rgb: (
      0.8666666666666667,
      0.06666666666666667,
      0.13333333333333333
    ),
    xyz: (
      0.303072706428525,
      0.1589133337813669,
      0.029850372199613805
    ),
    luv: (
      46.83159753903561,
      145.39816273308827,
      28.509905932129264
    ),
    lch: (
      46.83159753903561,
      148.16693444360817,
      11.093898425687362
    ),
    husl: (
      11.093898425687362,
      96.11996495204815,
      46.83159753903561
    ),
    huslp: (
      11.093898425687362,
      401.46866062561395,
      46.83159753903561
    )
  )
);
