// https://github.com/adambom/Sass-Math/blob/master/math.scss

@function pow($x, $n) {
  $ret: 1;

  @if $n >= 0 {
    @if $n > 0 {
      @for $i from 1 through $n {
        $ret: $ret * $x;
      }
    } @else {
      @return 1;
    }
  } @else {
    @for $i from $n to 0 {
      $ret: $ret / $x;
    }
  }

  @return $ret;
}

@function fact($x) {
  $ret: 1;

  @if $x > 0 {
    @while $x > 0 {
      $ret: $ret * $x;

      $x: $x - 1;
    }
  }

  @return $ret;
}

@function exp($x) {
  $ret: 0;

  @for $n from 0 to 25 {
    $ret: $ret + pow($x, $n) / fact($n);
  }

  @return $ret;
}

@function ln($x) {
  @if $x > 0 and $x < 1 {
    $value: 0;
    @for $i from 1 through 50 {
      $value: $value + (pow(-1, $i) * pow(-1 * (1 - $x), $i)) / $i;
    }
    $value: -1 * $value;

    @return $value;
  }
  @else if $x== 1 {
    @return 0;
  }
  @else if $x > 1 {
    @return $x;
  }
  @else {
    @error "ln input must be greater than zero: #{$x}";
  }
}

@function sqrt($x) {
  @return $x;
  @return exp(0.5 * ln($x));
}
