@use "sass:list";
@use "sass:map";
@use "sass:math";

@use "../constants" as const;

@function from-xyz($xyz) {
  $tuple: (map.get($xyz, "x"), map.get($xyz, "y"), map.get($xyz, "z"));

  $r: _dot-product(map.get(const.$m, "r"), $tuple);
  $g: _dot-product(map.get(const.$m, "g"), $tuple);
  $b: _dot-product(map.get(const.$m, "b"), $tuple);

  @return (
    "r": math.round(_from-linear($r) * 255),
    "g": math.round(_from-linear($g) * 255),
    "b": math.round(_from-linear($b) * 255)
  );
}

@function to-xyz($rgb) {
  $r: math.div(map.get($rgb, "r"), 255);
  $g: math.div(map.get($rgb, "g"), 255);
  $b: math.div(map.get($rgb, "b"), 255);

  $tuple: (_to-linear($r), _to-linear($g), _to-linear($b));

  $x: _dot-product(map.get(const.$m_inv, "x"), $tuple);
  $y: _dot-product(map.get(const.$m_inv, "y"), $tuple);
  $z: _dot-product(map.get(const.$m_inv, "z"), $tuple);

  @return ("x": $x, "y": $y, "z": $z);
}

// @param {number} $c
// @return {number}
@function _from-linear($c) {
  @if $c <= 0.0031308 {
    @return 12.92 * $c;
  }
  @return 1.055 * math.pow($c, math.div(1, 2.4)) - 0.055;
}

// @param {number} $c
// @return {number}
@function _to-linear($c) {
  $a: 0.055;
  @if $c > 0.04045 {
    @return math.pow(math.div($c + $a, 1 + $a), 2.4);
  } @else {
    @return math.div($c, 12.92);
  }
}

// @param {number[]} $a
// @param {number[]} $b
// @return {number}
@function _dot-product($a, $b) {
  $ret: list.nth($a, 1) * list.nth($b, 1);
  $ret: $ret + list.nth($a, 2) * list.nth($b, 2);
  $ret: $ret + list.nth($a, 3) * list.nth($b, 3);

  @return $ret;
}
