// Doesn't work for strings with pixel values
@function number($string) {
  $numbers: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";

  $result: 0;

  @for $i from 1 through str-length($string) {
    $character: str-slice($string, $i, $i);
    $index: index($numbers, $character);

    @if not $index {
      @warn "Unknown character `#{$character}`.";
      @return false;
    }

    $number: $index - 1;
    $result: $result * 10 + $number;
  }

  @return $result;
}
