$m: (
  r: (  3.2409699419045214,   -1.5373831775700935, -0.49861076029300328  ),
  g: ( -0.96924363628087983,   1.8759675015077207,  0.041555057407175613 ),
  b: (  0.055630079696993609, -0.20397695888897657, 1.0569715142428786   )
);
$m-inv: (
  x: ( 0.41239079926595948,  0.35758433938387796, 0.18048078840183429  ),
  y: ( 0.21263900587151036,  0.71516867876775593, 0.072192315360733715 ),
  z: ( 0.019330818715591851, 0.11919477979462599, 0.95053215224966058  )
);

$ref-u: 0.19783000664283681;
$ref-v: 0.468319994938791;

// CIE LUV constants
$kappa: 903.2962962962963;
$epsilon: 0.0088564516790356308;
