@use "sass:math";

@use "./functions" as functions;
@use "./constants" as constants;

// @param {Tuple} $tuple
// @return {Tuple}
@function hsluv-rgb($tuple) {
  @return lch-rgb(hsluv-lch($tuple));
}

// @param {Tuple} $tuple
// @return {Tuple}
@function lch-rgb($tuple) {
  @return xyz-rgb(luv-xyz(lch-luv($tuple)));
}

// @param {Tuple} $tuple
// @return {Tuple}
@function hsluv-lch($tuple) {
  $h: nth($tuple, 1);
  $s: nth($tuple, 2);
  $l: nth($tuple, 3);
  $c: 0;
  // white and black: disambiguate chroma
  @if not ($l > 99.9999999 or $l < 0.00000001) {
    $max: functions.max-chroma-for-l-h($l, $h);
    $c: $max / 100 * $s;
  }
  @return ($l, $c, $h);
}

// @param {Tuple} $tuple
// @return {Tuple}
@function hpluv-lch($tuple) {
  $h: nth($tuple, 1);
  $s: nth($tuple, 2);
  $l: nth($tuple, 3);
  $c: 0;
  // white and black: disambiguate chroma
  @if not ($l > 99.9999999 or $l < 0.00000001) {
    $max: functions.max-safe-chroma-for-l($l);
    $c: $max / 100 * $s;
  }
  @return ($l, $c, $h);
}

// @param {Tuple} $tuple
// @return {Tuple}
@function xyz-rgb($tuple) {
  $r: functions.from-linear(functions.dot-product(map-get(constants.$m, r), $tuple)) * 255;
  $g: functions.from-linear(functions.dot-product(map-get(constants.$m, g), $tuple)) * 255;
  $b: functions.from-linear(functions.dot-product(map-get(constants.$m, b), $tuple)) * 255;

  @return ($r, $g, $b);
}

// @param {Tuple} $tuple
// @return {Tuple}
@function luv-xyz($tuple) {
  $l: nth($tuple, 1);
  $u: nth($tuple, 2);
  $v: nth($tuple, 3);
  // black will create a divide-by-zero error
  @if $l == 0 {
    @return (0, 0, 0);
  }
  $var-u: $u / (13 * $l) + constants.$ref-u;
  $var-v: $v / (13 * $l) + constants.$ref-v;
  $y: functions.l-to-y($l);
  $x: 0 - (9 * $y * $var-u) / (($var-u - 4) * $var-v - $var-u * $var-v);
  $z: (9 * $y - (15 * $var-v * $y) - ($var-v * $x)) / (3 * $var-v);
  @return ($x, $y, $z);
}

// @param {Tuple} $tuple
// @return {Tuple}
@function lch-luv($tuple) {
  $l: nth($tuple, 1);
  $c: nth($tuple, 2);
  $h: nth($tuple, 3);
  $h-rad: $h / 360 * 2 * math.$pi;
  $u: math.cos($h-rad) * $c;
  $v: math.sin($h-rad) * $c;

  @return ($l, $u, $v);
}