@use './conversions' as conv;

@function hsluv($hue, $saturation, $lightness) {
  @if unitless($hue) {
    $hue: $hue * 1deg;
  }
  @if unit($saturation) == "%" {
    $saturation: $saturation / 1%;
  }
  @if unit($lightness) == "%" {
    $lightness: $lightness / 1%;
  }

  $rgb: conv.hsluv-rgb(('h': $hue, 's': $saturation, 'l': $lightness));

  @return rgb(
    map-get($rgb, 'r'),
    map-get($rgb, 'g'),
    map-get($rgb, 'b')
  );
}

@function hpluv($hue, $saturation, $lightness) {
  @if unitless($hue) {
    $hue: $hue * 1deg;
  }
  @if unit($saturation) == "%" {
    $saturation: $saturation / 1%;
  }
  @if unit($lightness) == "%" {
    $lightness: $lightness / 1%;
  }

  $rgb: conv.hpluv-rgb(('h': $hue, 's': $saturation, 'l': $lightness));

  @return rgb(
    map-get($rgb, 'r'),
    map-get($rgb, 'g'),
    map-get($rgb, 'b')
  );
}

@function hsluv-from($color) {
  @return conv.rgb-hsluv((
    'r': red($color),
    'g': green($color),
    'b': blue($color)
  ));
}

@function hpluv-from($color) {
  @return conv.rgb-hpluv((
    'r': red($color),
    'g': green($color),
    'b': blue($color)
  ));
}
