@use "./conversions" as conversions;
@use "./colors" as colors;
@use "./utils" as utils;

@function hsluv($hue, $saturation, $lightness) {
  @if unit($saturation) == "%" {
    $saturation: $saturation / 1%;
  }
  @if unit($lightness) == "%" {
    $lightness: $lightness / 1%;
  }
  @return colors.rgb-color(utils.hsluv-to-rgb(($hue, $saturation, $lightness)));
}

@function hpluv($hue, $saturation, $lightness) {
  @if unit($saturation) == "%" {
    $saturation: $saturation / 1%;
  }
  @if unit($lightness) == "%" {
    $lightness: $lightness / 1%;
  }
  @return colors.rgb-color(utils.hpluv-to-rgb(($hue, $saturation, $lightness)));
}

@function hsluva($hue, $saturation, $lightness, $alpha) {
  @return rgba(hsluv($hue, $saturation, $lightness), $alpha);
}

@function hpluva($hue, $saturation, $lightness, $alpha) {
  @return rgba(hpluv($hue, $saturation, $lightness), $alpha);
}

@function to_hsluv($color) {
  @return utils.hsluv-from-rgb((red($color), green($color), blue($color)));
}

@function to_hpluv($color) {
  @return utils.hpluv-from-rgb((red($color), green($color), blue($color)));
}
